include ./layouts/header
+header('Onboarding')
body
  table(role="presentation", background="https://i.ibb.co/1KD4YCg/gby-Rlq8bizjlin-JGswlfa-GDxjwxc-Sexwg-Akcp-FLPz-S2zxu-Yuk5839xw-TPy-KHx-NRmau-FSCHcq-Kb9-KF5zq-Jd-Zk.png", width="100%", height="100%").container
    tr
      td.container-body
        table.header
          tr
            td
              p.logo
                img(src="https://i.ibb.co/RSLz7TN/Lab-Group.png", alt="Company logo")
        center.card
          table
            tr
              td
                p.text
                  | Hi Ricardo,<br /><br />
                  | We are glad to have you on board with Lab Group, we are inviting you
                  | to schedule a call with our specially selected references.
                  | <br /><br />
                  | Below are a few references who have all worked with us on a project
                  | very similar to yours. You can choose to talk to three different
                  | references who had requirements just like yours.
                  | <br /><br />
                  | All the best,<br />
                  | LabGroup 
          table
            tr.list-item
              td
                div.user-card
                  table
                    td
                      div.user-avatar
                        img(src="https://i.ibb.co/DQ2BC7q/Human-Default.png", alt="Person")
                    td
                      div.description
                        strong
                          | Shane Boyle
                        p
                          | CEO of Thrive
            tr.list-item
              td
                div.user-card
                  table
                    td
                      div.user-avatar
                        img(src="https://i.ibb.co/fSYYjrY/Human-Marlene-Schinner.png", alt="Person")
                    td
                      div.description
                        strong
                          | Shane Boyle
                        p
                          | CEO of Thrive
            tr.list-item
              td
                div.user-card
                  table
                    td
                      div.user-avatar
                        img(src="https://i.ibb.co/NsSrDhR/Human-Sophie-Schinner.png", alt="Person")
                    td
                      div.description
                        strong
                          | Shane Boyle
                        p
                          | CEO of Thrive
            tr.divider
            tr.list-item
              td
                div.action-card
                  a(href="http://localhost:3000/auth", target="_blank").button
                    | Schedule a meeting
        table.footer
          tr.footer-body
            td
              div.copyright
                | © 2022. Powered by
                img(src="https://i.ibb.co/N9JWYYn/Deeto-Logo-for-google.png", alt="Deeto copyright logo")